<section class="section brd-btm" id="experience">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">工作经历</h2>
            <br />
            <div class="education">
                <div class="education-box">
                    <time class="education-date" datetime="2016-01TNow">
                        <span>Jun <strong class="text-upper">2021</strong> - <strong>Aug</strong></span>
                    </time>
                    <h3>Product Developer</h3>
                    <span class="education-company">智能家电开发项目 | 深圳</span>
                    <p>应用所学知识STM32, C/C++, PCB绘图等等</p>
                    <span>职责：</span><span class="education-company">负责产品研发</span>
                </div>
                <!-- .education-box -->

                <div class="education-box">
                    <time class="education-date" datetime="2014-09T2016-01">
                        <span>Dec <strong class="text-upper">2021</strong> - Jun <strong>2022</strong></span>
                    </time>
                    <h3>嵌入式开发</h3>
                    <span class="education-company">智能楼宇、家电项目 | 南宁</span>
                    <p>应用所学知识STM32, C/C++, Linux, Qt等等</p>
                    <span>职责：</span><span class="education-company">负责产品研发</span>
                </div>
            </div>
        </div>
    </div>
</section><!-- .section -->